{% extends 'base.html' %} {% block title %} Add Pet {% endblock %} {% block
content %}


{% for msg in get_flashed_messages() %}
    <div>{{ msg }}</div>
{% endfor %}

<section class="d-flex flex-wrap">
    <div class="col-12 col-sm-6">
        <div class="card">
            <img class="card-img-top" src="{{pet.photo_url}}" alt="{{pet.name}}" />
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    {% if pet.available %}
                        <span class="text-success font-weight-bold">{{ pet.name }}</span> is available!
                        {% else %}
                        <span class="text-danger font-weight-bold">{{ pet.name }}</span> is not available
                    {% endif %}
                    <h1>Meet {{pet.name}}!</h1>
                    <p>A {{pet.species}}</p>
                    {% if pet.notes %}
                        {{pet.notes}}
                    {% else %}
                        No notes on {{pet.name}} so far!
                    {% endif %}
                </p>
            </div>
        </div>

        <!-- Show a form that allows us to edit this pet: -->
        <div class="card border-0">
            <div class="card-body">
                <form method="post" action="/pets/{{pet.id}}">
            
                    {{ form.hidden_tag() }}
                
                    {% for field in form
                        if field.widget.input_type != 'hidden' %}
                
                        <div class="form-group">
                            {{field.label}}
                            {{field(class_="form-control")}}
                        </div>
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    {% endfor %}
                    <button class="btn btn-success" type="submit">Add</button>
                </form>
            </div>
        </div>

    </div>
</section>


{% endblock %}
